In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [3]:
dataframe = pd.read_csv('data.csv')

In [4]:
dataframe.head()

   index    area  bathrooms     price    sq_price
0      0  2104.0        3.0  399900.0  190.066540
1      1  1600.0        3.0  329900.0  206.187500
2      2  2400.0        3.0  369000.0  153.750000
3      3  1416.0        2.0  232000.0  163.841808
4      4  3000.0        4.0  539900.0  179.966667

In [5]:
dataframe=dataframe.drop(['index','price','sq_price'],axis=1)
dataframe.head()

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0

In [6]:
dataframe=dataframe[0:10]

In [14]:
dataframe.loc[:,('y1')]=[1,1,1,0,0,1,0,1,1,1]
dataframe.loc[:, ("y2")] = dataframe["y1"] == 0           # y2 is the negation of y1
dataframe.loc[:, ("y2")] = dataframe["y2"].astype(int)

In [15]:
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [24]:
inputX = dataframe.loc[:, ['area', 'bathrooms']].as_matrix()
inputY = dataframe.loc[:, ["y1", "y2"]].as_matrix()

In [40]:
learning_rate=0.000001
training_epochs=2000
display_step=50
n_samples=inputY.size

In [31]:
# Create computational graphs
x=tf.placeholder(tf.float32,[None,2])

#create weights
W=tf.Variable(tf.zeros([2,2]))

#bias
b=tf.Variable(tf.zeros([2]))

y_values=tf.add(tf.matmul(x,W),b)

y=tf.nn.softmax(y_values)

y_= tf.placeholder(tf.float32,[None,2])

In [33]:
cost= tf.reduce_sum(tf.pow(y_ -y,2))/(2*n_samples)
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [36]:
init=tf.global_variables_initializer()
sess=tf.Session()
sess.run(init)

In [43]:
for i in range(training_epochs):
    sess.run(optimizer,feed_dict={x:inputX,y_:inputY})
    
    if(i)% display_step==0:
        cc=sess.run(cost,feed_dict={x:inputX,y_:inputY})
        print ("Training step:", '%04d' % (i), "cost=", "{:.9f}".format(cc)) 

print ("Optimization Finished!")
training_cost = sess.run(cost, feed_dict={x: inputX, y_: inputY})
print ("Training cost=", training_cost, "W=", sess.run(W), "b=", sess.run(b), '\n')

Training step: 0000 cost= 0.109537296
Training step: 0050 cost= 0.109537221
Training step: 0100 cost= 0.109537140
Training step: 0150 cost= 0.109537080
Training step: 0200 cost= 0.109537020
Training step: 0250 cost= 0.109536938
Training step: 0300 cost= 0.109536879
Training step: 0350 cost= 0.109536804
Training step: 0400 cost= 0.109536745
Training step: 0450 cost= 0.109536670
Training step: 0500 cost= 0.109536603
Training step: 0550 cost= 0.109536529
Training step: 0600 cost= 0.109536462
Training step: 0650 cost= 0.109536402
Training step: 0700 cost= 0.109536327
Training step: 0750 cost= 0.109536253
Training step: 0800 cost= 0.109536193
Training step: 0850 cost= 0.109536126
Training step: 0900 cost= 0.109536052
Training step: 0950 cost= 0.109535985
Training step: 1000 cost= 0.109535910
Training step: 1050 cost= 0.109535851
Training step: 1100 cost= 0.109535791
Training step: 1150 cost= 0.109535709
Training step: 1200 cost= 0.109535649
Training step: 1250 cost= 0.109535575
Training step: 1300 cost= 0.109535515
Training step: 1350 cost= 0.109535448
Training step: 1400 cost= 0.109535359
Training step: 1450 cost= 0.109535299
Training step: 1500 cost= 0.109535232
Training step: 1550 cost= 0.109535173
Training step: 1600 cost= 0.109535098
Training step: 1650 cost= 0.109535031
Training step: 1700 cost= 0.109534971
Training step: 1750 cost= 0.109534897
Training step: 1800 cost= 0.109534815
Training step: 1850 cost= 0.109534755
Training step: 1900 cost= 0.109534681
Training step: 1950 cost= 0.109534621
Optimization Finished!
Training cost= 0.109535 W= [[ 0.00021405 -0.00021405]
 [ 0.00010219 -0.00010219]] b= [  2.37126187e-05  -2.37126296e-05]

In [44]:
sess.run(y,feed_dict={x:inputX})

array([[ 0.71123087,  0.28876916],
       [ 0.66498965,  0.33501026],
       [ 0.73654449,  0.26345551],
       [ 0.64717317,  0.3528268 ],
       [ 0.78332436,  0.21667559],
       [ 0.70069939,  0.29930058],
       [ 0.65866619,  0.34133378],
       [ 0.64829433,  0.35170567],
       [ 0.64369309,  0.35630688],
       [ 0.65480596,  0.34519401]], dtype=float32)